.menuToggler {
  position: absolute;
  display: block;
  top: -10px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 2;
  width:25px;
  height:25px;
  opacity: 0;
  cursor: pointer;
}

.menuLabel {
  position: absolute;
  display: block;
  top: -10px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width:25px;
  height:25px;
  cursor: pointer;
}

.menuToggler:checked ~ ul .menuItem {
  opacity: 1;
}
.menuToggler:checked ~ ul .menuItem:nth-child(1) {
  transform: rotate(90deg) translateX(-53px);
}
.menuToggler:checked ~ ul .menuItem:nth-child(2) {
  transform: rotate(125deg) translateX(-53px);
}
.menuToggler:checked ~ ul .menuItem:nth-child(3) {
  transform: rotate(165deg) translateX(-53px);
}
.menuToggler:checked ~ ul .menuItem:nth-child(4) {
  transform: rotate(200deg) translateX(-53px);
}
.menuToggler:checked ~ ul .menuItem:nth-child(5) {
  transform: rotate(240deg) translateX(-53px);
}
.menuToggler:checked ~ ul .menuItem:nth-child(6) {
  transform: rotate(270deg) translateX(-53px);
}
.menuToggler:checked ~ ul .menuItem a {
  pointer-events: auto;
}

.menuItem:nth-child(1) a {
  transform: rotate(-90deg);
}
.menuItem:nth-child(2) a {
  transform: rotate(-125deg);
}
.menuItem:nth-child(3) a {
  transform: rotate(-165deg);
}
.menuItem:nth-child(4) a {
  transform: rotate(-200deg);
}
.menuItem:nth-child(5) a {
  transform: rotate(-240deg);
}
.menuItem:nth-child(6) a {
  transform: rotate(-270deg);
}
.menuItem {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 40px;
  height: 40px;
  display: block;
  opacity:0;
  transition: 0.5s;
}
.menuItem a {
  display: block;
  width: inherit;
  height: inherit;
  line-height: 80px;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  pointer-events: none;
  transition: 0.2s;
}