@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body{
  /* font-family: 'Courier Prime', monospace; */
  font-family: 'Roboto', sans-serif;
}
.curier{
  font-family: 'Courier Prime', monospace;
}

.dark {
  --color-bg-primary: #080808;
  --color-bg-secondary: #151515;
  --color-bg-three: #282828;
  --color-bg-hover: #3c3c3c;
  --color-bg-primary-cont: #ffffff;
  --color-bg-secondary-cont: #eee;

  --color-text-primary: #ffffff;
  --color-text-secondary: #b3b3b3;
  --color-text-primary-cont: #070707;
  --color-text-secondary-cont: #4a5568;

  --color-bt-gray: #535353;
  --color-accent: #00bc5d;
  --color-success: #0093e7;
  --color-approve: #00d567;
  --color-alert: #ffa700;
  --color-danger: #fc2835;
}

.light {
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #eee;
  --color-bg-three: #fefefe;
  --color-bg-hover: #efefef;
  --color-bg-primary-cont: #080808;
  --color-bg-secondary-cont: #151515;


  --color-text-primary: #0c1214;
  --color-text-secondary: #505e67;
  --color-text-primary-cont: #ffffff;
  --color-text-secondary-cont: #b3b3b3;

  --color-bt-gray: #535353;
  --color-accent: #00bc5d;
  --color-success: #0093e7;
  --color-approve: #00d567;
  --color-alert: #ffa700;
  --color-danger: #fc2835;
}

.glob-trans {
  transition: all 0.3s ease-in-out;
}

 
