@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

body{
  /* font-family: 'Courier Prime', monospace; */
  font-family: 'Roboto', sans-serif;
}
.curier{
  font-family: 'Courier Prime', monospace;
}

.dark {
  --color-bg-primary: #080808;
  --color-bg-secondary: #151515;
  --color-bg-three: #282828;
  --color-bg-hover: #3c3c3c;
  --color-text-primary: #ffffff;
  --color-text-secondary: #b3b3b3;
  --color-bt-gray: #535353;
  --color-accent: #00bc5d;
  --color-success: #0093e7;
  --color-approve: #00d567;
  --color-alert: #ffa700;
  --color-danger: #fc2835;
}

.light {
  --color-bg-primary: #efefef;
  --color-bg-secondary: #ffffff;
  --color-bg-three: #46556855;
  --color-bg-hover: #35445788;
  --color-text-primary: #2d3748;
  --color-text-secondary: #4a5568;
  --color-bt-gray: #535353;
  --color-accent: #00bc5d;
  --color-success: #0093e7;
  --color-approve: #00d567;
  --color-alert: #ffa700;
  --color-danger: #fc2835;
}

.glob-trans {
  transition: all 0.5s ease-in-out;
  /* transition-all duration-500 ease-in-out */
}
/*
.glob-trans > *{
  transition: all 0.2s ease-in-out;
   transition-all duration-500 ease-in-out 
}*/

.animation div {
  width: 300px;
  display: inline-block;
  white-space: nowrap;
}
/*keyframe animations*/
.first {
 -webkit-animation: bannermove 25s linear infinite;
    -moz-animation: bannermove 25s linear infinite;
     -ms-animation: bannermove 25s linear infinite;
         animation: bannermove 25s linear infinite;
}
 
@keyframes "bannermove" {
 0% {
    margin-left: 0px;
 }
 100% {
    margin-left: -1800px;
 }
 
}
 
@-moz-keyframes bannermove {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -1800px;
 }
 
}
 
@-webkit-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -1800px;
 }
 
}
 
@-ms-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -1800px;
 }
 
}
 
