@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

body{
  /* font-family: 'Courier Prime', monospace; */
  font-family: 'Roboto', sans-serif;
}
.curier{
  font-family: 'Courier Prime', monospace;
}

.dark {
  --color-bg-primary: #080808;
  --color-bg-secondary: #151515;
  --color-bg-three: #282828;
  --color-bg-hover: #3c3c3c;
  --color-text-primary: #ffffff;
  --color-text-secondary: #b3b3b3;
  --color-bt-gray: #535353;
  --color-accent: #00bc5d;
  --color-success: #0093e7;
  --color-approve: #00d567;
  --color-alert: #ffa700;
  --color-danger: #fc2835;
}

.light {
  --color-bg-primary: #efefef;
  --color-bg-secondary: #ffffff;
  --color-bg-three: #46556855;
  --color-bg-hover: #35445788;
  --color-text-primary: #2d3748;
  --color-text-secondary: #4a5568;
  --color-bt-gray: #535353;
  --color-accent: #00bc5d;
  --color-success: #0093e7;
  --color-approve: #00d567;
  --color-alert: #ffa700;
  --color-danger: #fc2835;
}

.glob-trans {
  transition: all 0.5s ease-in-out;
  /* transition-all duration-500 ease-in-out */
}
/*
.glob-trans > *{
  transition: all 0.2s ease-in-out;
   transition-all duration-500 ease-in-out 
}*/
/* moto */
#moto {
  transform: translateY(100px);
}
.fade-in {
  color:white;
  animation-name: fade-in;
  animation-duration: 2s;
  opacity: 0;
}
.moto-anim1 {
  animation-name: opace-inc;
  animation-duration: 2s;
  opacity: 1;
}
@keyframes fade-in {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes opace-inc {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-height: 850px) {
  @media screen and (min-width: 800px) {
    .hat {
      margin-top: -8rem;
    }
    #moto {
      transform: translateY(35px);
    }
  }
}
